<h2>Registration Page</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="text">
  <div *ngIf="email!.invalid && (email!.dirty || email!.touched)">
    <div *ngIf="email!.errors?.['required']">Email is required.</div>
    <div *ngIf="email!.errors?.['pattern']">Invalid email format.</div>
  </div>
  <br>

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password">
  <div *ngIf="password!.invalid && (password!.dirty || password!.touched)">
    <div *ngIf="password!.errors?.['required']">Password is required.</div>
    <div *ngIf="password!.errors?.['pattern']">Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit.</div>
  </div>
  <br>

  <label for="confirmPassword">Confirm Password:</label>
  <input id="confirmPassword" formControlName="confirmPassword" type="password">
  <div *ngIf="confirmPassword!.invalid && password?.valid">
    <div *ngIf="confirmPassword!.errors?.['required'] && (confirmPassword!.dirty || confirmPassword!.touched)">Please retype your password.</div>
    <div *ngIf="registrationForm.errors?.['mismatch'] && (confirmPassword!.dirty || confirmPassword!.touched)">Passwords do not match.</div>
  </div>
  <br>

  <button type="submit">Register</button>
</form>

<h3>Users</h3>
<ul>
  <li *ngFor="let user of users">
    {{ user.first_name }} {{ user.last_name }} {{user.email}}
  </li>
</ul>
